<div class="panel panel-default">
  <div class="panel-body task-list-container">
    <div class="mainfiller">
      <div>
        <input id="editInput" *ngIf="isTaskEditing" class="form-control" type="text" [(ngModel)]="task.value">
        <div class="buttons-align" *ngIf="!isTaskEditing">{{task.id}}:{{task.value | truncateString : 50 }} </div>
      </div>
      <div class="filler"></div>
      <div>
        <div class="containing-div ">
          <button *ngIf="isTaskEditing" type="button" class="btn btn-primary btn-xs buttons-align set-left-margin" (click)="editTask(task)">Save</button>
          <div class="buttons-group-visability pull-right">
            <button *ngIf="!isTaskEditing" class="btn btn-warning btn-xs " type="button" (click)="startEditing()">Edit</button>
            <button *ngIf="!isTaskEditing" class="btn btn-danger btn-xs set-left-margin" type="button" (click)="openModal(template)">Delete</button>

          </div>
          <div class="set-left-margin pull-right text-right">{{task.createdDate | date:"dd/MM/yyyy h:mm a"}}</div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #template>
    <div class="modal-body text-center">
      <p>Do you want to confirm?</p>
      <button type="button" class="btn btn-default" (click)="deleteTask(task.id)">Yes</button>
      <button type="button" class="btn btn-primary set-left-margin" (click)="decline()">No</button>
    </div>
  </ng-template>
</div>
