<li>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <input *ngIf="isTaskEditing" type="text" [(ngModel)]="task.value">
      <span *ngIf="!isTaskEditing">{{task.id}}:{{task.value}}</span>
      <div class="buttons-group-visibility">
        <button *ngIf="isTaskEditing" type="button" class="btn btn-primary" (click)="editTask(task)">Done</button>
        <button *ngIf="!isTaskEditing" class="btn btn-warning" type="button" (click)="startEditing()">Edit</button>
        <button class="btn btn-danger" type="button" (click)="deleteTask(task.id)">Delete</button>
      </div>
    </div>
  </div>
</li>
