li {
  list-style-type: none;
}

.space-between-items-and-input {
  margin-top: 13px;
}

.set-left-margin {
  margin-left: 15px;
}

.buttons-align {
  float: left;
  margin-right: 15px;
}

.buttons-group-visibility {
  display: none;
}

.buttons-group-visibility :hover {
  display: inline-block;
}

#editInput{
  width: 80%;
}

.containing-div {
  display: flex;
}